.popup__button-save {
  display: block;
  background-color: black;
  color: #ffffff;
  min-width: 358px;
  min-height: 50px;
  margin: 48px auto 37px auto;
  cursor: pointer;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px 2px 2px 2px;
  transition: opacity 0.4s ease-in-out;
  padding: 0;
  border: 0;
}
.popup__button-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .popup__button-save {
    min-width: 238px;
    min-height: 46px;
    padding: 0;
    margin: 45px auto 25px auto;
    font-size: 14px;
    line-height: 17px;
  }
}
