.popup__input {
  display: block;
  width: 358px;
  margin: 0 auto 30px auto;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0 12px 0;
  max-height: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.popup__input:last-of-type {
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 550px) {
  .popup__input {
    max-width: 238px;
  }
}
