.element__delete {
  background: url(../../../images/Trash.svg) center no-repeat;
  border: none;
  cursor: pointer;
  font-size: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  transition: opacity 0.5s ease-in-out;
}

.element__delete:hover {
  opacity: 0.6;
}
