.popup__container {
  position: relative;
  margin: auto;
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  text-align: center;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  padding:0;
}
@media screen and (max-width: 550px) {
  .popup__container {
    max-width: calc(100% - 38px);
    max-height: 322px;
  }
}

