.profile__add-button {
  display: flex;
  background-image: url(../../../images/VectorPlus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 50px;
  min-width: 150px;
  box-sizing: border-box;
  justify-content: center;
  border: 1px solid #ffffff;
  background-color: black;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
  padding: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 630px) {
  .profile__add-button {
    min-width: 100px;
    min-height: 50px;
    align-items: center;
  }
}

@media screen and (max-width: 459px) {
  .profile__add-button {
    margin: 36px auto 0 auto;
    min-width: 282px;
    min-height: 50px;
  }
}
