.pop-up__input {
  display: block;
  width: 358px;
  margin: 0 auto 30px auto;
  border: none;
  border-bottom: 1px solid black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pop-up__input:last-of-type {
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 550px) {
  .pop-up__input {
    max-width: 238px;
    padding: 0;
  }
}
